@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);

main {
  padding: 38px 70px 38px 20px;
  display: flex;
  column-gap: 40px;
  min-height: 100vh;
  width: 100vw;
  background-color: #0b0d11;

  font-family: "Baloo 2", sans-serif;
  color: #ffffff;
  .dashboard {
    width: 100%;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: "Encode Sans Condensed";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;

        letter-spacing: 4px;
        text-transform: uppercase;
      }
      .search {
        position: relative;
        width: 260px;
        input {
          padding: 13px 24px;
          border: 0px;
          background: #191819;
          border-radius: 12px;
          font-family: "Baloo 2";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 32px;
          width: 100%;
          color: rgba(255, 255, 255, 1);

          &:focus {
            outline: none;
          }
          &::-ms-clear,
          &::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
          }
          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-search-results-decoration {
            display: none;
          }
        }
        .search-icon {
          position: absolute;
          top: 50%;
          right: 216px;
          width: 20px;
          height: 20px;
          opacity: 0.6;
          transform: translateY(-50%);
          transition: 0.2s;
          &.valid {
            right: 24px;
            left: auto;
            opacity: 1;
            cursor: pointer;
          }
        }
        .search-label {
          transition: 0.2s;
          position: absolute;
          left: 55px;
          top: 50%;
          transform: translateY(-50%);
          user-select: none;
          pointer-events: none;
          font-family: "Baloo 2";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 32px;
          color: rgba(255, 255, 255, 0.6);
          &.valid {
            top: 0;
            left: 8px;
            transform: translateY(-100%);
            opacity: 0.6;
          }
        }
      }
    }
    .accounts {
      margin-top: 32px;
    }
  }
  .profile {
    flex-shrink: 0;
    width: 380px;
  }
}
