.login-page {
  .background-image-container {
    height: 100%;
    overflow: hidden;
    padding: 0.5rem 1rem;
    img {
      height: 100%;
      filter: blur(0.25rem) opacity(0.5);
      // transition-property: blur, opacity;
      // transition-duration: 0.5s;

      // transition-timing-function: ease-in-out;
      transition: 0.5s;
      border-radius: 1rem;
    }
    &:hover {
      img {
        filter: blur(0) opacity(0.9);
      }
    }
  }
}
