@use "@Style/variables" as *;

@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);

@import "./background";

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: $background-primary;
  color: $primary;
  font-family: "Baloo 2", sans-serif;
  .login-container {
    height: 100%;
    background-color: $background-secondary;
    width: max-content;
    padding: 0 2rem;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    .form-container {
      transition: 0.5s;
      position: absolute;
      
    }
    .password-container{
      transform: translateX(200%);
    }
    form {
      display: flex;
      flex-direction: column;
      fieldset {
        border: 0;
        display: flex;
        flex-direction: column;
        label {
          color: $label;
          font-size: 16px;
        }
        input {
          width: 300px;
          background: rgba(31, 31, 31, 0.5);
          border-radius: 1rem;
          border: 0;
          outline: 0;
          padding: 0.5rem 1rem;
          color: $primary;
          font-family: "Baloo 2", sans-serif;
          font-size: 18px;
        }
      }
    }
    .placeholder {
      visibility: hidden;
    }
    .input-wrapper {
      border: 0;
      display: flex;
      flex-direction: column;
      label {
        color: $label;
        font-size: 16px;
      }
      input {
        width: 300px;
        background: rgba(31, 31, 31, 0.5);
        border-radius: 1rem;
        border: 0;
        outline: 0;
        padding: 0.5rem 1rem;
        color: $primary;
        font-family: "Baloo 2", sans-serif;
        font-size: 18px;
      }
    }
  }
}

button {
  background-color: $accent;
}
