@use "@Style/variables" as *;

@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);

@import "./background";

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: $background-primary;
  color: $primary;
  font-family: "Baloo 2", sans-serif;
  .login-container {
    height: 100%;
    background-color: $background-secondary;
    width: max-content;
    padding: 0 2rem;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    .form-container {
      transition: 0.5s;
      position: absolute;
      button {
        display: block;
        width: 100%;
        margin-top: 1.5rem;
        border: 0;
        outline: 0;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        font-size: 18px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0.01em;

        color: #fafafa;
        cursor: pointer;
        transition: 0.3s;
        background: linear-gradient(180deg, $accent 0%, $accent-secondary 100%);
        &:hover {
          filter: drop-shadow(0 0 0.2rem $accent-shadow);
        }
      }
      .signup-wrapper {
        margin: 0 auto;
        margin-top: 0.5rem;
        display: block;
        width: max-content;
        color: $label;
        font-weight: 600;
        font-size: 1rem;
        a {
          color: $accent;
          text-decoration: none;
          transition: 0.2s;
          &:hover {
            color: $accent-secondary;
          }
        }
      }
    }
    .password-container {
      transform: translateX(200%);
    }
    .placeholder {
      visibility: hidden;
    }
    .input-wrapper {
      margin-top: 1rem;
      border: 0;
      display: flex;
      flex-direction: column;
      label {
        color: $label;
        font-size: 16px;
      }
      input {
        width: 300px;
        background: rgba(31, 31, 31, 0.5);
        border-radius: 1rem;
        border: 0;
        outline: 0;
        padding: 0.5rem 1rem;
        color: $primary;
        font-family: "Baloo 2", sans-serif;
        font-size: 18px;
      }
    }
  }
}

button {
  background-color: $accent;
}
